.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .content{
        background-color: white;
        height: 300px;
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}